
body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #f2f2f2;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

/* 이미지 로고 스타일 */
img {
    display: block;
    margin: 0 auto;
    max-width: 30%;
    height: auto;
    border-radius: 10px;

}

/* 섹션 스타일 */
section {
    padding: 20px;
    margin: 20px 0;
}

/* 링크 스타일 */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 푸터 스타일 */
footer {
    background-color: #f2f2f2;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p {
    margin: 0;
}
